.health-bar-root { width: 640px; height: 100px; position: relative; justify-content: center; }
.health-bar-track { width: 640px; height: 58px; background-color: rgb(33, 10, 16); border-top-width: 8px; border-right-width: 8px; border-bottom-width: 8px; border-left-width: 8px; border-top-color: rgb(18, 5, 9); border-right-color: rgb(18, 5, 9); border-bottom-color: rgb(18, 5, 9); border-left-color: rgb(18, 5, 9); border-radius: 0; overflow: hidden; }
.health-bar-fill { height: 100%; width: 65%; background-color: rgb(223, 60, 61); border-radius: 0; }
.health-bar-label { position: absolute; width: 640px; height: 58px; color: rgb(255, 255, 255); font-size: 34px; -unity-font-style: bold; -unity-text-align: middle-center; -unity-text-outline-width: 3px; -unity-text-outline-color: rgb(0, 0, 0); }
